{% extends "base.html" %} 
{% block content %}

<h1><b>Χαροκόπειο Νοσοκομείο</b></h1>
<div class="intro_body">
	<img class="img-responsive" max-width="100%" height="auto"
		src="../static/hua-04.jpg" alt="Το Νοσοκομείο">
	<p>
		<br /> <strong>ΠΡΟΦΙΛ</strong>
	</p>

	<p>Η Διοίκηση και το προσωπικό του Νοσοκομείου, σας καλωσορίζει στη
		νέα Ιστοσελίδα του Γενικού Νοσοκομείου Αθηνών Χαροκόπειο.</p>

	<p>
		Το Γ.Ν.Α.Χ. είναι ένα τριτοβάθμιο Νοσοκομείο το οποίο διαθέτει τμήματα
		όλων των ιατρικών ειδικοτήτων, εργαστήρια πλήρως εξοπλισμένα με
		σύγχρονα μηχανήματα και είναι στελεχωμένο με άρτια καταρτισμένο
		ιατρικό, νοσηλευτικό, παραϊατρικό και διοικητικό προσωπικό, με τη
		συμβολή των οποίων παρέχονται με ανθρωπιά και υπευθυνότητα υψηλού
		επιπέδου ποιοτικές υπηρεσίες υγείας.<br>Στην ιστοσελίδα μας
		μπορείτε να βρείτε χρήσιμες πληροφορίες για τη λειτουργία του
		Νοσοκομείου, το ιστορικό της διαχρονικής εξέλιξης του, καθώς και
		πληροφορίες και ειδήσεις για το έργο και τις δράσεις μας.
	</p>

	<p>Ευχόμαστε η ιστοσελίδα να λειτουργήσει ως μοχλός βοήθειας
		υποστηρίζοντας την ορθή ενημέρωση, τόσο του πολίτη όσο και των
		εργαζόμενων και με την συνεργασία όλων να πετύχουμε τους στόχους μας
		που είναι η διασφάλιση της ποιότητας, τα υψηλά επίπεδα απόδοσης και η
		εμφανής οικονομική – διαχειριστική αποτελεσματικότητα.</p>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<h3>Χειρουργική Κλινική</h3>
			<p>Ολοκληρωμένη διαγνωστική και θεραπευτική αντιμετώπιση όλων των
				χειρουργικών παθήσεων χρησιμοποιώντας όλες τις σύγχρονες τεχνικές
				περιλαμβανομένων και των minimally invasive (λαπαροσκοπικών)
				τεχνικών.</p>
			<br>
			<button type="button" class="btn btn-info">
				<a href="/hospital/surgeryDetails" title="Πληροφορίες Κλινικής">Πληροφορίες
					Κλινικής</a>
			</button>
		</div>
		<div class="col-sm-4">
			<h3>Καρδιολογική Κλινική</h3>
			<p>
				Νοσηλεία οροθετικών ασθενών<br> Τακτικό Ιατρείο παρακολούθησης
				οροθετικών ασθενών<br> Ψυχολογική υποστήριξη οροθετικών ασθενών<br>
				Κλινική Ημέρας
			</p>
			<br>

			<button type="button" class="btn btn-info">
				<a href="/hospital/cardiologyDetails" title="Πληροφορίες Κλινικής">Πληροφορίες
					Κλινικής</a>
			</button>

		</div>
		<div class="col-sm-4">
			<h3>Ψυχιατρική Κλινική</h3>
			<p>
				Κύριος σκοπός του Τμήματος είναι η αξιολόγηση, <br> η διάγνωση
				και η θεραπευτική αντιμετώπιση ψυχοπαθολογικών διαταραχών<br>
				και ψυχοκοινωνικών προβλημάτων της εφηβείας.
			</p>
			<br> <br>
			<button type="button" class="btn btn-info">
				<a href="/hospital/psychiatricDetails" title="Πληροφορίες Κλινικής">Πληροφορίες
					Κλινικής</a>
			</button>

		</div>
	</div>
	<br> <br> <br>
	<div class="footer navbar">
		<div class="panel-footer">
			Developed by US for HUA
			<div class="pull-right">
				<form class="form-inline" role="form">
					<div class="form-group">
						Εγγραφείτε στο newsletter&nbsp; <label for="email">Email
							address:</label> <input type="email" class="form-control" id="email">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div></div>
{% endblock %} 

{% block sideblock %}
{% for intro in object_list %}
<h3><i>{{ intro.title }}</i></h3>
<div class="intro_body">
{{ intro.body|safe|linebreaks }}
</div>

 {% endfor %}
{% endblock %}