{% extends 'base.html' %}

{% block body_block %}

<h1> Τα ραντεβού μου </h1>


<h2>
    {{patient.patientName}}
    {{patient.patientSurname}}
    AMKA: {{patient.AMKA}}
</h2>


<table class="table table-striped">

    <tr class="active">
        <th class="active"> Κωδικός</th>
        <th class="active"> Ταμείο Αφάλισης</th>
        <th class="active"> Κωδικός Κλινικής</th>
        <th class="active"> Λεπτομέρειες Ασθένιας</th>
        <th class="active"> Ημερομηνία Ραντεβού</th>
        <th class="active"> Ώρα Ραντεβού</th>
        <th class="active"> Σοβαρότητα Ραντεβού</th>
        <th class="active"> Λόγοι Απόρριψης - Έκτακτο Ραντεβού</th>
        <th class="active"> Κατάσταση Ραντεβού</th>

    </tr>

    {% for result in results %}
    {% if result.appointmentState != 1 %}
    <tr class="active">
        {% else %}
    <tr class="">
        {% endif %}

        <td class=""> {{result.appointmentID}}</td>
        <td class=""> {{result.insuranceFund}}</td>
        <td class=""> {{result.clinicid}}</td>
        <td class=""> {{result.diseaseDetails}}</td>
        <td class=""> {{result.strAppointmentDate}}</td>
        <td class=""> {{result.strAppointmentTime}}</td>
        <td class=""> {{result.appointmentEmergency}}</td>
        <td class="">{{result.rejectReasons}}</td>
        <td class="">
            {% if result.appointmentState == 10 %}
            <a href="/pat/appointment_edit_by_user/{{result.appointmentID}}">Θέλω επίσπευση του ραντεβού μου</a>
            {% else %}
            Είναι στο status {{result.appointmentState}}
            {% endif%}


        </td>


    <tr/>

    {% endfor %}

</table>

<br>


{% endblock %}