{% extends "base.html" %}

{% block content %}

  <h2>Καρδιολογική Κλινική</h2>
  <p>Η Καρδιολογική Κλινική του Γενικού Κρατικού Νοσοκομείου Αθηνών « Χαροκόπειο» θεωρείται μία από τις μεγαλύτερες Καρδιολογικές Κλινικές του Εθνικού Συστήματος Υγείας (ΕΣΥ) στην επικράτεια. Εφημερεύει κάθε τέσσερεις ημέρες, επικεφαλής ομάδας Καρδιολογικών Κλινικών μικρότερων Νοσοκομείων της Αθήνας και δέχεται μεγάλο αριθμό περιστατικών πάσης βαρύτητας. Έχει ορισθεί από το Υπουργείο Υγείας σαν ένα από τά κέντρα Πρωτογενούς Αγγειοπλαστικής (Primary PCI) οξέων εμφραγμάτων του μυοκαρδίου για την Αττική. Ο αριθμός των ασθενών που νοσηλεύονται ετησίως σ’ αυτήν ανέρχεται στους 3500 περίπου με μέσο όρο ημερών νοσηλείας γύρω στις 3, πού είναι σύμφωνος με τα διεθνή standards. Στα τακτικά εξωτερικά ιατρεία εξετάζονται περίπου 3.000 ασθενείς ετησίως, ενώ στα έκτακτα περισσότεροι από 10000 ασθενείς.</p>
	<h3>Ημέρες και ώρες Λειτουργίας</h3>
	<p><b>ΔΕΥΤΕΡΑ 08:30- 10:45 ΤΡΙΤΗ 08:30- 10:45 ΤΕΤΑΡΤΗ 08:30- 10:45 ΠΕΜΠΤΗ 08:30- 10:45 ΠΑΡΑΣΚΕΥΗ 08:30- 10:45 </b></p>
{% endblock %}