{% extends 'base.html' %}

{% block body_block %}

<h1> Καλως ήρθες {{doctor.firstName}} {{doctor.lastSurname}} </h1>

<h2>Οι υπηρεσίες μου </h2>

<table class="table table-striped">
    <tr class="">

        <th class="">Κλινική</th>
        <th class="">Είδος</th>
        <th class="">Υπηρεσία από</th>
        <th class="">έως</th>

    </tr>
    {% for result in duty %}
    <tr class="">

        <td class=""> {{result.clinicName}}</td>
        <td class=""> {{result.clinicType}}</td>
        <td class=""> {{result.dateFrom | date:"d/m/Y"}}</td>
        <td class=""> {{result.dateTo | date:"d/m/Y"}}</td>

    <tr/>
    {% endfor %}
</table>

<h2>Τα ραντεβού μου</h2>

<table class="table table-striped">
    <tr class="">
        <th class="">ID</th>
        <th class="">Κλινική</th>
        <th class="">Ονομ/μο</th>
        <th class="">Πρόβλημα</th>
        <th class="">Ημ/νία</th>
        <th class="">Επείγον</th>
        <th class="">Επιλογές</th>

    </tr>
    {% for result in appointments %}
    {% if result.appointmentState < 100 and result.appointmentState > 1 %}
    <tr class="">
        <td class=""> {{result.appointmentID}}</td>
        <td class=""> {{result.clinicName}}</td>
        <td class=""><a href="/hospital/patientHistory/{{result.AMKA}}"> {{result.patientName}}
            {{result.patientSurname}}</a></td>
        <td class=""> {{result.diseaseDetails}}</td>
        <td class=""> {{result.strAppointmentDate}} {{result.strAppointmentTime}}</td>
        <td class=""> {{result.appointmentEmergency}}</td>


        <td class="">
            {% if result.appointmentState < 100 and result.appointmentState > 1 %}

            <a href="/hospital/doctor_edit_app/{{result.appointmentID}}">Επεξεργασία</a>

            {% endif %}
        </td>

    <tr/>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}