{% extends 'base.html' %}

{% block body_block %}

<h1> Καλως ήρθες {{doctor.firstName}} {{doctor.lastSurname}} </h1>

<h2>Οι υπηρεσίες μου </h2>

<table class="table table-striped">
    <tr class="active">
        <th class="active">clinicid</th>
        <th class="active">clinicName</th>
        <th class="active">clinicType</th>
        <th class="active">dateFrom</th>
        <th class="active">dateTo</th>
        <th class="active">doctorid</th>
    </tr>
    {% for result in duty %}
    <tr class="active">
        <td class="active"> {{result.clinicid}}</td>
        <td class="active"> {{result.clinicName}}</td>
        <td class="active"> {{result.clinicType}}</td>
        <td class="active"> {{result.dateFrom}}</td>
        <td class="active"> {{result.dateTo}}</td>
        <td class="active"> {{result.doctorid}}</td>
    <tr/>
    {% endfor %}
</table>

<h2>Τα ραντεβού μου</h2>

<table class="table table-striped">
    <tr class="active">
        <th class="active">ID</th>
        <th class="active">Κλινική</th>
        <th class="active">Ονομ/μο</th>
        <th class="active">ΑΜΚΑ</th>
        <th class="active">Πρόβλημα</th>
        <th class="active">Ημ/νία</th>
        <th class="active">Επείγον</th>
    </tr>
    {% for result in appointments %}
    <tr class="active">
        <td class="active"> {{result.appointmentID}}</td>
        <td class="active"> {{result.clinicName}}</td>
        <td class="active"> {{result.patientName}} {{result.patientSurname}}</td>
        <td class="active"> {{result.AMKA}}</td>
        <td class="active"> {{result.diseaseDetails}}</td>
        <td class="active"> {{result.strAppointmentDate}} {{result.strAppointmentTime}}</td>
        <td class="active"> {{result.appointmentEmergency}}</td>
    <tr/>
    {% endfor %}
</table>
{% endblock %}