{% extends "base.html" %}

{% block content %}

  <h2>Ψυχιατρική Κλινική</h2>
  <p>Το Τμήμα Ψυχιατρικής Εφήβων και Νέων του Γ.Ν.Α. «Χαροκόπειο» ξεκίνησε τη λειτουργία του το 1985.
Κύριος σκοπός του Τμήματος είναι η αξιολόγηση, η διάγνωση και η θεραπευτική αντιμετώπιση ψυχοπαθολογικών διαταραχών και ψυχοκοινωνικών προβλημάτων της εφηβείας. Οι υπηρεσίες που προσφέρονται στο Τμήμα απευθύνονται σε εφήβους και νέους ηλικίας 14 έως 21 ετών που αντιμετωπίζουν κάποιο πρόβλημα ψυχικής υγείας το οποίο επιφέρει σημαντικές δυσχέρειες για τη ζωή τους στον οικογενειακό, κοινωνικό, εργασιακό και εκπαιδευτικό χώρο. Η θεραπευτική αντιμετώπιση συνδυάζεται με δράσεις που υποστηρίζουν τις ανάγκες των εφήβων, των νέων και των οικογενειών τους αλλά και παρεμβάσεις που απευθύνονται στην ευρύτερη κοινότητα. Στις δραστηριότητες του Τμήματος εντάσσεται η προαγωγή της έρευνας και η εκπαίδευση επαγγελματιών ψυχικής υγείας σε θέματα και προβλήματα της εφηβείας.</p>
	<h3>Ημέρες και ώρες Λειτουργίας</h3>
	<p><b>ΔΕΥΤΕΡΑ 09:00- 18:00 ΤΡΙΤΗ 09:00- 18:00 ΤΕΤΑΡΤΗ 09:00- 18:00 ΠΕΜΠΤΗ 09:00- 18:00 ΠΑΡΑΣΚΕΥΗ 09:00- 15:00</b></p>
{% endblock %}