{% extends "base.html" %}

{% block content %}

<h2>Χειρουργική Κλινική</h2>
<p>Στήν Χειρουργική κλινική πραγματοποιούνται, εγχειρήσεις θυρεοειδούς και παραθυρεοειδών, μαστού, στομάχου,
    δωδεκαδακτύλου, λεπτού και παχέος εντέρου, αιμορροϊδων, ραγάδων, συριγγίων, ήπατος, χοληφόρων και χοληδόχου κύστεως,
    παγκρέατος, σπληνός, επινεφριδίων, διαφραγματοκήλες, μετεγχειρητικές κήλες, βουβωνοκήλες και ομφαλοκήλες. Ιδιαίτερη
    έμφαση σε ογκολογικά και τραυματολογικά περιστατικά.
    Εκπαίδευση ειδικευομένων ιατρών και χορήγηση πλήρους ειδικότητας γενικής χειρουργικής. Εκπαίδευση προπτυχιακών
    φοιτητών. Ερευνητικό έργο με συμμετοχή σε εθνικά και διεθνή συνέδρια και δημοσιεύσεις σε εθνικά και διεθνή ιατρικά
    έντυπα</p>
<h3>Ημέρες και ώρες Λειτουργίας</h3>
<p><b>ΔΕΥΤΕΡΑ 08:30- 13:00 ΤΕΤΑΡΤΗ 08:30- 13:00 ΠΑΡΑΣΚΕΥΗ 08:30- 13:00</b></p>
{% endblock %}
